body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('../images/img15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    box-sizing: border-box;
}

.container{
    padding: 0px 5em;
}

.row{
    clear: both;
    /* display: flex;
    align-items: center; */
}

.col-left{
    width: 70%;
}

.col-right{
    width: 250px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

.down-arrow{
    position: absolute;
    bottom: 0;
    right: 125px;
    transform: translateX(50%);
    opacity: 1;
    transition: all 0.5s;
}

.up-arrow{
    position: absolute;
    top: 0;
    right: 125px;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.5s;
}

.far{
    font-size: 50px;
    color: dodgerblue;
    opacity: 0.7;
}

.posts{
    background-color: white;
}

ul.navbar{
    width: 100%;
    list-style-type: none;
    background-color: #222;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.navbar > li{
    float: left;
}

ul.navbar > li > a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 20px;
}

ul.navbar > li > a:hover{
    background-color: #555;
}

.active{
    background-color: #555;
}

.post_container{
    padding-top: 10px;
}

.post{
    padding: 0px 5%;
}

.post_title{
    color: red;
    font-size: 2em;
    font-weight: bold;
}

.post_date{
    font-style: italic;
    font-size: 0.8em;
    padding: 10px 0px;

}

.post_hightlight{
    color: red;
}

.post_row{
    clear: both;
    display: flex;
    flex-direction: row;
}

.post_col-left{
    width: 33.33%;
    float: left;
}

.post_col-right{
    width: 66.66%;
    float: left;
}

.post_img_cover{
    width: 100%;
    /* image size is w x h = 160 x 237. If you want h = 160, so h now is 160/237 = 0.6751 */
    height: 100%;
    background-color: lightblue;
}

.post_img{
    padding: 10px;
    width: 100%;
    height: 100%;
}

.post_description{
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.navigate{
    background-color: rgba(50, 20, 20, 0.8);
    border-radius: 0px 10px 10px 0px;
}

.category_container{
    padding: 0px;
}

.navigate_container{
    padding: 20px 10px;
    color: white;
}

.navigate_container > a{
    text-decoration: none;
    color: white;
    line-height: 1.5em;
}

.navigate_container > a:hover{
    text-decoration: underline;
}

.navigate_title{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, #311 20%, #955);
}

ul.navigate_genre{
    list-style-type: none;
    line-height: 2em;
    padding: 0;
    margin: 0;
}

ul.navigate_genre > li{
    border-bottom: 3px groove #555;
    /* border-style: groove; */
}

ul.navigate_genre > li > a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
}

ul.navigate_genre > li > a:hover{
    background-color: #bbb;
    color: black;
}


input[type='text']{
    width: 100%;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 20px 0px;
}

.left-arrow-container{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 3em;
    color: dodgerblue;
    opacity: 0;
    transition: all 0.7s;
}

.nav-line{
    background-image: repeating-linear-gradient(to right, #500, #f00, #500);
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
}


@media screen and (max-width: 640px){
    ul.navbar > li{
        float: none;
        text-align: center;
    }

    .post_row{
        flex-direction: column;
    }

    .col-left{
        width: 100%;
    }

    .post_col-left, .post_col-right{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    ul.navbar > li{
        float: none;
        text-align: center;
    }

    .post_row{
        flex-direction: column;
    }

    .col-left{
        width: 100%;
    }


    .post_col-left, .post_col-right{
        width: 100%;
    }
}

@media screen and (max-width: 1200px){
    .col-right{
        right: 0;
        /* transform: translateX(90%); */
    }
    .col-left{
        width: 100%;
    }

    .left-arrow-container{
        opacity: 1;
    }
}

