:root{
    --shadow: 2px 2px 4px 1px gray;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Dosis;
}

button{
    font-family: Dosis;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
}

.dialog{
    width: 350px;
    /* height: 100px; */
    border: 1px solid gray;
    margin: 20px auto;
    box-shadow: var(--shadow);
}

.message{
    height: 70%;
    text-align: center;
    padding: 30px;
}

.controls{
    height: 30%;
    width: 100%;
    background-color: #bbb;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding: 10px;
    column-gap: 15px;
}

.btn_ok{
    background-color: #008822;
    color: white;
    outline: none;
}

.btn_ok:hover{
    background-color: #00aa22;
    box-shadow: 0px 0px 0px 3px #008822;
}

.btn_ok:focus{
    box-shadow: 0px 0px 0px 3px #008822;
    background-color: #00aa22;
}

.btn_cancel{
    background-color: #bb0000;
    color: white;
    outline: none;
}

.btn_cancel:focus{
    box-shadow: 0px 0px 0px 3px #aa0000;
    background-color: #ee0000;
}

.btn_cancel:hover{
    background-color: #ee0000;
    box-shadow: 0px 0px 0px 3px #aa0000;
}